<div>
  <h2>Available drones - Back to <a href="/">Home</a></h2>
  <div class>
    {{#each allDrones}}
        <div class=>
            <div class=>
                <p>{{this.name}}</p>
                <p>{{this.propellers}}</p>
                <p>{{this.maxSpeed}}</p>
               
            </div>
      </div>
    {{/each}}
  </div>
</div>